body {
    background: 
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px) repeat,
    radial-gradient(circle at bottom left, rgb(70, 54, 124) 0%, rgb(42, 34, 74) 50%) no-repeat fixed;
    background-size: 15px 15px, cover;
}

.cursor-follower {
    pointer-events: none;
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, #6063e8 1px, transparent 1px) repeat;
    background-size: 15px 15px, cover;
    background-attachment: fixed;
}